{% extends "analytics_base.html" %}

{% block analytics-header %}
<link type="text/css" href="/stylesheets/analytics/real_time.css" rel="stylesheet" />
<link rel="Stylesheet" href="/stylesheets/menu/ui.selectmenu.css" type="text/css" />
<script type="text/javascript" src="/js/menu/ui.selectmenu.js"></script>
<script src="/js/highcharts/highcharts.js"></script>
<script src="/js/analytics/real_time.js"></script>
{% endblock %}

{% block analytics-content %}
<div class="ui-widget">
	<label>Pick a hastag popular in the last <b>24 hours</b>: </label>&nbsp;
	<select id="combobox">
<!-- 		<option value="">Select one...</option> -->
		{% if all_hashtags %}
		{% for hashtag in all_hashtags %}
		<option value={{ forloop.counter0}}:ilab:{{hashtag}}  >{{hashtag}}</option>
		{% endfor %}
		{% else %}
		<option value="None">No hashtags</option>
		{% endif %}
	</select>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<label>OR last <b>hour</b>: </label>&nbsp;
	<select name="hashtags" id="hashtags">
		{% if hashtags %}
		{% for hashtag in hashtags %}
		<option value={{ forloop.counter0 }}:ilab:{{hashtag}} >{{hashtag}}</option>
		{% endfor %}
		{% else %}
		<option value="None">No hashtags</option>
		{% endif %}
	</select>
</div>
<br/>
<h3 id="title">Title</h3>
<br/>
<div id="tabs2">
	<ul>
		<li>
			<a href="#tabs-4">Spatial Distribution</a>
		</li>
		<li>
			<a href="#tabs-3">Statistics</a>
		</li>
		<li>
			<a href="#tabs-2">Estimated Information Spread</a>
		</li>
	</ul>
	<div id="tabs-4">
		<br/>
		<div id="map_canvas" class="map"></div>
	</div>
	<div id="tabs-2">
<!-- 		<br/> -->
		<div>
			<button  id="draw_spread_path_button">
				Start
			</button>
			<button  id="pause_spread_path_button">
				Pause
			</button>
			<button  id="stop_spread_path_button">
				Stop
			</button>
		</div>
<!-- 		<br/> -->
		<div id="map_path" class="map"></div>
	</div>
	<div id="tabs-3">
<!-- 		<br/> -->
		<span id="radioset">
			<input type="radio" id="TemporalDistribution" name="chart" checked="checked"/>
			<label for="TemporalDistribution">Temporal Distribution</label>
			<input type="radio" id="LocationAccumulation" name="chart" />
			<label for="LocationAccumulation">Spatial Spread</label>
			<input type="radio" id="SpreadViralityChart" name="chart" />
			<label for="SpreadViralityChart">Spatial Freshness</label>
			<input type="radio" id="Radius" name="chart" />
			<label for="Radius">Radius</label> </span>
		<br/>
		<br/>
		<div id="chart" class='chart'></div>
	</div>
</div>
<span id="queue" style="visibility:hidden;"></span>
{% endblock %}
