{% extends "base.html" %}

{% block header %}
<link type="text/css" href="/stylesheets/analytics.css" rel="stylesheet" />
{% endblock %}
{% block content %}
<p>
	We do the following analytics:
</p>
<ul id="analytics_list">

	{% for tuo_url_title_description in ltuo_url_title_description %}

	<li>
		<a href="{{tuo_url_title_description.0}}">{{tuo_url_title_description.1}}</a>
		<blockquote>
			{{tuo_url_title_description.2}}
		</blockquote>
	</li>

	{% endfor %}

	<!-- <li>
		<a href="/analytics_real_time">Real-time analytics</a>
		<blockquote>
			Here is a long quotation here is a long quotation here is a long quotation here is a long quotation here is a long quotation here is a long quotation here is a long quotation here is a long quotation here is a long quotation.
		</blockquote>
	</li> -->
</ul>
{% endblock %}
