<!DOCTYPE html>
<html lang='en'>
	<head>
		<meta charset='UTF-8' />
		<link REL="SHORTCUT ICON" HREF="/images/favicon.ico"> 
		<title> Social Trails - {{title}}</title>
		<link rel='stylesheet' href='/stylesheets/base.css' />
		 {% block header %} {% endblock %}
	</head>
	<body>
		<div class='wrapall'>
			<div class='container'>
				<div class='topstrip'>
					<div class='logobox'>
						<a href='/'> <img alt='' id="logo" src='/images/logo.png' title='' /> </a>
					</div>
					<div class='toptoolbar'>
						<ul>
							{% for tuo_url_and_title_and_is_selected in ltuo_url_and_title_and_is_selected %}
							<li>
								<a class="{{tuo_url_and_title_and_is_selected.2}}" href="{{tuo_url_and_title_and_is_selected.0}}"> {{tuo_url_and_title_and_is_selected.1}}</a>
							</li>
							{% endfor %}
						</ul>
					</div>
					<hr/>
				</div>
				<div id="content" class="row">
					{% block content %}{% endblock %}
				</div>
				<div class='row'>
					<div class='col8' id='footer'>
						<div id='footer-logo'>
							<img id='flogo' src='/images/footer.png' />
						</div>
						<div id='copyright'>
							<span style='font-family: arial;'> &copy; </span>
							2012, Social Trails &nbsp;
							<a class='shadow' href='http://infolab.tamu.edu'>Infolab,</a>
							<a class='shadow' href='http://www.tamu.edu'>Texas A&M University.</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
