<html>
	<head>
		<title>App to analyze global social media propagation</title>
		<link type="text/css" href="/stylesheets/jquery-ui/eggplant/jquery-ui-1.8.19.custom.css" rel="stylesheet" />
		<link type="text/css" href="/stylesheets/main.css" rel="stylesheet" />
		<link rel="Stylesheet" href="/stylesheets/menu/ui.selectmenu.css" type="text/css" />

		<script src="http://maps.google.com/maps/api/js?sensor=true" type="text/javascript"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.18/jquery-ui.min.js"></script>
		<script type="text/javascript" src="/js/jquery-ui-map/jquery.ui.map.full.min.js"></script>
		<script type="text/javascript" src="/js/jquery-ui-map/markerclustererplus-2.0.6/markerclusterer.min.js"></script>
		<script type="text/javascript" src="/js/menu/ui.selectmenu.js"></script>
		<script type="text/javascript" src="/js/jquery-gmap3-4.1/gmap3.min.js"></script>
		<script src="/js/highcharts/highcharts.js"></script>
		<script src="/js/map.js"></script>
		<!-- 		<script src="/js/charts.js"></script> -->
	</head>

	<body>
		<form action="#">
			<select name="hashtags" id="hashtags">
				{% if hashtags %}
				{% for hashtag in hashtags %}
				<option value={{ forloop.counter0 }} >{{hashtag}}</option>
				{% endfor %}
				{% else %}
				<option value="None">No hashtags</option>
				{% endif %}
			</select>
		</form>
		<div id="tabs">
			<ul>
				<li>
					<a href="#tabs-1">Global Spread</a>
				</li>
			</ul>
			<div id="tabs-1">
				<div id="map_canvas"></div>
			</div>
		</div>
		<br/>
		<br/>
		<div id="tabs2">
			<ul>
				<li>
					<a href="#tabs-2">Estimated Spread Order </a>
				</li>
				<li>
					<a href="#tabs-3">Statistics</a>
				</li>
			</ul>
			<div id="tabs-2">
				<br/>
				<div>
					<button  id="draw_spread_path_button">
						Start
					</button>
					<button  id="pause_spread_path_button">
						Pause
					</button>
					<button  id="stop_spread_path_button">
						Stop
					</button>
				</div>
				<br/>
				<div id="map_path"></div>
			</div>
			<div id="tabs-3">
				<br/>
				<span id="radioset">
					<input type="radio" id="TemporalDistribution" name="chart" checked="checked"/>
					<label for="TemporalDistribution">Temporal Distribution</label>
					<input type="radio" id="LocationAccumulation" name="chart" />
					<label for="LocationAccumulation">Spatial Spread</label>
					<input type="radio" id="SpreadViralityChart" name="chart" />
					<label for="SpreadViralityChart">Spatial Freshness</label> </span>
				<br/>
				<br/>
				<div id="chart" class='chart'></div>
			</div>
		</div>
		<div id="dialog-message" title="App Down!!" style="visibility:hidden;">
			<p>
				<span class="ui-icon ui-icon-alert" style="float:left; margin:0 7px 50px 0;"></span>
				Looks like app is down. No hashtags were loaded.
			</p>
		</div>
		<div id="queue" style="visibility:hidden;"></div>
	</body>

</html>