{% extends "analytics_base.html" %}

{% block analytics-header %}
<script src="/js/analytics/temp.js"></script>
{% endblock %}

{% block analytics-content %}

<div id="first_occurrence_model" class='animated-map'>
	<div class="buttons">
		<button  id="first_occurrence_model_play">
			Start
		</button>
		<button  id="first_occurrence_model_pause">
			Pause
		</button>
		<button  id="first_occurrence_model_stop">
			Stop
		</button>
	</div>
	<div id="first_occurrence_model_map" class="heatmap"></div>
	<span id="first_occurrence_model_queue" style="visibility:hidden;"></span>
</div>

{% endblock %}