#analytics_list li {
	padding-top: 13px;
}

#analytics_list blockquote {
	padding-top: 5px;
	padding-left: 25px;
	width: 75%;
}

/*
 * Analytics base specific.
 */
.analytics-toolbar {
	margin-left: auto;
	margin-right: auto;
	font-size: 15px;
	border-bottom: 1px solid #cccccc;
	width: 1020px;
	height: 22px;
}
.analytics-toolbar li {
	float: left;
	padding-right: 25px
}
.analytics-toolbar li a.selected {
	color: #4860E8
}
#analytics-content {
	padding-top: 10px;
}
.animated-map {
	width: 1020px;
	height: 538px;
	border: 1px solid #cccccc;
	-moz-border-radius: 15px;
	border-radius: 15px;
	background-color: #EBEBEB;
}
.animated-map .buttons {
	height: 43px;
	padding-left: 21px;
	padding-top: 10px;
}
.animated-map .heatmap {
	position: relative;
	margin-left: auto;
	margin-right: auto;
	width: 970px;
	height: 470px;
	border: 1px solid #000000;
}
