#analytics_list li {
	padding-top: 13px;
}

#analytics_list li a {
	color: #87C7FF;
	text-decoration: underline;
}

#analytics_list blockquote {
	padding-top: 5px;
	padding-left: 25px;
	width: 75%;
}

/*
 * Analytics base specific.
 */
.analytics-toolbar {
	margin-left: auto;
	margin-right: auto;
	font-size: 15px;
	border-bottom: 1px solid #cccccc;
	width: 1020px;
	height: 22px;
}
.analytics-toolbar li {
	float: left;
	padding-right: 25px
}
.analytics-toolbar li a.selected {
	color: #4860E8
}
#analytics-content {
	padding-top: 10px;
}
.animated-map {
	width: 1020px;
	height: 538px;
	margin: 10px;
	border: 1px solid #cccccc;
	-moz-border-radius: 15px;
	border-radius: 15px;
	background-color: #EBEBEB;
}
.animated-map .buttons {
	height: 43px;
	padding-left: 21px;
	padding-top: 10px;
}
.animated-map .heatmap {
	position: relative;
	margin-left: auto;
	margin-right: auto;
	width: 970px;
	height: 470px;
	border: 1px solid #000000;
}

.diffusion-models li {
	padding-top: 0px;
}

.diffusion-models li a {
	color: #87C7FF;
	text-decoration: underline;
}

.diffusion-models li a img {
	height: 18px;
	width: 18px;
}

.hashtag-selector {
	margin-top: 12px;
}

h3 {
	font-size: 12pt;
}

.ui-combobox {
	position: relative;
	display: inline-block;
}
#combo-button {
	position: absolute;
	top: 0;
	bottom: 0;
	margin-left: -1px;
	padding: 0;
	*height: 1.7em;
	*top: 0.1em;
}
.ui-autocomplete-input {
	margin: 0;
	padding: 0.3em;
}
