#analytics_list li {
	padding-top: 13px;
}

#analytics_list blockquote {
	padding-top: 5px;
	padding-left: 25px;
	width: 75%;
}

/*
 * Analytics base specific.
 */
.analytics-toolbar {
	margin-left: auto;
	margin-right: auto;
	font-size: 15px;
border-bottom: 1px solid #cccccc;
	width: 1020px;
	height: 22px;
}
.analytics-toolbar li {
	float: left;
	padding-right: 25px
}
.analytics-toolbar li a.selected {
	color: #4860E8
}
#analytics-content {
	padding-top: 10px;
}
