html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent
}
body {
	background: #fff;
	line-height: 1;
	font-family: "Lucida Grande", "Bitstream Vera Sans", sans-serif;
}
ol, ul {
	list-style: none
}
blockquote, q {
	quotes: none
}
blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none
}
body {
	font-family: 'Gudea', sans-serif;
	font-weight: 400;
	font-size: 14px;
	line-height: 18px;
	color: #616161;
	height: 100%
}
a {
	color: #2e2e2e;
	text-decoration: none
}
a:hover {
	color: #DB59FF
}
a.shadow {
	text-shadow: 0px 0px 1px #878787
}
.container {
	width: 1050px;
	height: 100%;
	margin-left: auto;
	margin-right: auto;
	padding-top: 20px;
}
.row {
	width: 1050px;
	padding: 0;
	margin: 10px 0 10px 0;
	padding: 14px 0 0 0;
	float: left
}
.wrapall {
	width: 100%;
	border-top: 7px solid #000000
}
.wrap {
	width: 1050px;
	margin-left: auto;
	margin-right: auto;
	padding-top: 30px;
}
.topstrip {
	border-bottom: 1px solid #cccccc;
	width: 1050px;
	float: left;
	padding-bottom: 10px
}
.hpnoborder {
	border-bottom: 0px
}
.logobox {
	width: 270px;
	float: left;
}
img#logo {
	width: 375px;
	float: left;
}
.toptoolbar {
	padding-top: 45px;
	width: 580px;
	float: right;
	font-size: 15px;
	padding-left: 105px
}
.toptoolbar li {
	float: left;
	padding-right: 25px
}
.toptoolbar li a.selected {
	color: #DB59FF
}

#content{
	padding-top: 30px;
}

#footer {
	margin-top: 15px;
	border-top: 1px solid #cccccc;
	border-bottom: 60px solid #fff;
	text-align: left;
	padding-top: 5px;
	font-size: 10px
}
#footer-logo {
	float: left
}
#copyright {
	float: right;
	font-size: 10px;
	padding-top: 9px
}
