body {
	background: #ffffff;
	color: #000000;
	font-family: "Lucida Grande", "Bitstream Vera Sans", sans-serif;
	font-size: 10pt;
	margin-left: 10%;
	margin-right: 10%;
}

.map {
	position: relative;
	margin-left: auto;
	margin-right: auto;
	width: 1000px;
	height: 700px;
}

.chart {
	width: 75%;
	margin-left: auto;
	margin-right: auto;
}

h1 {
	color: #8f138b;
	text-align: center;
	border-bottom: 2px solid #ccc;
	padding-top: 25px;
	padding-top: 5px;
}

h2 {
	text-align: center
}

.tabdiv {
	background-color: #40B5E2;
	margin: 1%;
}

.ui-combobox {
	position: relative;
	display: inline-block;
}
#combo-button {
	position: absolute;
	top: 0;
	bottom: 0;
	margin-left: -1px;
	padding: 0;
	/* adjust styles for IE 6/7 */
	*height: 1.7em;
	*top: 0.1em;
}
.ui-autocomplete-input {
	margin: 0;
	padding: 0.3em;
}