.map {
	position: relative;
	margin-left: auto;
	margin-right: auto;
	width: 970px;
	height: 470px;
}

.chart {
	width: 75%;
	margin-left: auto;
	margin-right: auto;
}

.tabdiv {
	background-color: #40B5E2;
	margin: 1%;
}

/*.ui-combobox {
	position: relative;
	display: inline-block;
}
#combo-button {
	position: absolute;
	top: 0;
	bottom: 0;
	margin-left: -1px;
	padding: 0;
	*height: 1.7em;
	*top: 0.1em;
}
.ui-autocomplete-input {
	margin: 0;
	padding: 0.3em;
}*/